MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/tinylink
BASE_URL=http://localhost:5000
https://cloud.mongodb.com/v2/6852725f494b167be3e3d142#/clusters/starterTemplates?transactionId=43fcd5e6-7926-431a-a0da-0a8c48c52186&fromFpp=true
https://cloud.mongodb.com/v2/6852725f494b167be3e3d142#/clusters/starterTemplates?transactionId=43fcd5e6-7926-431a-a0da-0a8c48c52186&fromFpp=true
https://cloud.mongodb.com/v2/6852725f494b167be3e3d142#/clusters/starterTemplates?transactionId=43fcd5e6-7926-431a-a0da-0a8c48c52186&fromFpp=true
https://cloud.mongodb.com/v2/6852725f494b167be3e3d142#/clusters/starterTemplates?transactionId=43fcd5e6-7926-431a-a0da-0a8c48c52186&fromFpp=true
https://cloud.mongodb.com/v2/6852725f494b167be3e3d142#/clusters/starterTemplates?transactionId=43fcd5e6-7926-431a-a0da-0a8c48c52186&fromFpp=true